* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html,body {
    display: flex;
    height: 100%;
    place-items: center;
    background: #000;
}

.center {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.outer {
    position: relative;
    margin: 0 50px;
    background: #fff;
}

.button {
    height: 70px;
    width: 220px;
    border-radius: 50px;
}

.outer button, .outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button {
    background: #fff;
    color: #000;
    outline: none;
    border: none;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 9;
}

.button button {
    height: 60px;
    width: 210px;
    border-radius: 50px; 
}

.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span {
    border-radius: 50px;
}

.outer span:nth-child(1) {
    filter: blur(7px);
}

.outer span:nth-child(2) {
    filter: blur(14px);
}

.outer:hover {
    background: linear-gradient(#285475, #48A3CB, #E2F4F8);
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

